@{
    Page.Title = "Manage Products";
    Layout = "~/_Layout.cshtml";

    // Declare a bunch of variables to get any post data from the user
    int productId, supplierId, categoryId;
    string productName, quantity, pid, sid, cid, up, stock, order, reorder, disc;
    decimal unitPrice;
    short inStock, onOrder, reorderLevel;
    bool isDiscontinued;

    // 0) Set up page validation
    Validation.RequireField("productName", "Product name is required");
    Validation.Add("productName", Validator.StringLength(40, 5, "Product name must be between 5 and 40 characters long."));
    Validation.Add("inStock", Validator.Integer("In-stock values must be whole numbers"));
    Validation.Add("inStock", Validator.Range(0, short.MaxValue, "In-stock quantities must be greater than or equal to zero"));


    // Pull the data from the Request.Form collection
    // 1) The selected product ID and the command
    string current = Request.Form["currentProducts"];
    string command = Request.Form["command"];

    // 2) The data on the product entered into the form
    pid = Request.Form["productId"];
    productName = Request.Form["productName"];
    sid = Request.Form["supplierId"];
    cid = Request.Form["categoryId"];
    quantity = Request.Form["qtyPerUnit"];
    up = Request.Form["price"];
    stock = Request.Form["inStock"];
    order = Request.Form["onOrder"];
    reorder = Request.Form["reorder"];
    disc = Request.Form["discontinued"]; // checkbox -> "on"
    isDiscontinued = !string.IsNullOrEmpty(disc);

    var db = Database.Open("NW");

    // Add Product
    if(IsPost && Validation.IsValid())
    {
        // Process the form's validation
    }

    if(IsPost || !string.IsNullOrEmpty(Request.QueryString["editId"]))
    {
        if(command == "select" || !string.IsNullOrEmpty(Request.QueryString["editId"]))
        {
            if (!string.IsNullOrEmpty(Request.QueryString["editId"]))
            {
                current = Request.QueryString["editId"];
            }
            // Looking up a specific product
            int currentProductId;
            if (int.TryParse(current, out currentProductId))
            {
                string selectQuery = "SELECT ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued FROM Products WHERE ProductID = @0";
                // Notice the use of QuerySingle - we expect only 1 product
                var selectedProduct = db.QuerySingle(selectQuery, currentProductId);
                // At this point, selectedProduct is an object with a
                // property for each column of data retrieved.

                // "Unpack" the selectedProduct into the strings that
                // are noted in our input's value attributes
                pid = selectedProduct.ProductID.ToString(); // int
                productName = selectedProduct.ProductName;
                quantity = selectedProduct.QuantityPerUnit;
                up = selectedProduct.UnitPrice.ToString(); // decimal
                stock = selectedProduct.UnitsInStock.ToString(); // short
                order = selectedProduct.UnitsOnOrder.ToString(); // short
                reorder = selectedProduct.ReorderLevel.ToString(); // short
                                                                   // data for the drop-downs
                sid = selectedProduct.SupplierID.ToString(); // int?
                cid = selectedProduct.CategoryID.ToString(); // int?

                // data for the checkbox
                isDiscontinued = selectedProduct.Discontinued;
            }
            else
            {
                ErrorMessage("Please choose a product before clicking the [Select Product] button.");
            }
        }
    }

    // Get all products, categories, & suppliers for the drop-downs
    var allProducts = db.Query("SELECT ProductID, ProductName FROM Products");
    var allSuppliers = db.Query("SELECT SupplierID, CompanyName FROM Suppliers");
    var allCategories = db.Query("SELECT CategoryID, CategoryName FROM Categories");
}

@section pageHeader {
    <h1>@Page.Title</h1>
}

<form method="post">
    <label for="currentProducts">Current Products</label>
    <select id="currentProducts" name="currentProducts">
        <option value="">[Select a Product]</option>
        @foreach (var item in allProducts)
        {
            <option selected="@(current == item.ProductID.ToString())"
               value="@item.ProductID">@item.ProductName</option>
        }
    </select>
    <button type="submit" name="command" value="select">Select Product</button>

    <fieldset>
        <legend>Product Details</legend>
        <div>@Html.ValidationSummary()</div>
        Product Id <input type="text" name="productId" value="@pid" disabled /><br />
        Product name <input type="text" name="productName" value="@productName" /><br />

        Supplier
        <select name="supplierId">
            <option value="">[no supplier]</option>
            @foreach (var item in allSuppliers)
            {
                <option selected="@(sid == item.SupplierID.ToString())"
                   value="@item.SupplierID">@item.CompanyName</option>
            }
        </select><br />
        Category
        <select name="categoryId">
            <option value="">[no category]</option>
            @foreach (var item in allCategories)
            {
                <option selected="@(cid == item.CategoryID.ToString())"
                   value="@item.CategoryID">@item.CategoryName</option>
            }
        </select><br />

        Quantity/Unit <input type="text" name="qtyPerUnit" value="@quantity" /><br />
        Unit Price <input type="text" name="price" value="@up" /><br />
        In Stock <input type="number" name="inStock" value="@stock" /><br />
        On Order <input type="number" name="onOrder" value="@order" /><br />
        Reorder Level <input type="number" name="reorder" value="@reorder" /><br />
        Discontinued <input type="checkbox" name="discontinued" checked="@isDiscontinued" /><br />
    </fieldset>
    <button type="submit" name="command" value="add">Add Product</button>
    <button type="submit" name="command" value="update">Update Product</button>
    <button type="submit" name="command" value="delete">Delete Product</button>
</form>

@helper ErrorMessage(string message) { 
    // Helpers are reusable snippets of Razor syntax exposed as a method.
    // Helpers are able to render HTML directly, while functions do not
    // render any HTML.
    <div style="color:red;">@message</div>
}



@functions {
    // A functions section is used to place any page-global functions that can be
    // called from within the page. It's one way to "modularize" aspect of your
    // Razor web page's server-side processing.
    // Functions should be thought of as static utility methods.
} 